<div class = 'container'>
	<div class = 'jumbotron'>
		<div class = 'panel panel-default'>
			<div class = 'panel-heading'>
				<h2> Enter Personal Details Below </h2>
			</div>
			<div class = 'panel-body'>
				<form action = '/guest/topups' method = 'post'>
					<div class = 'row'>
						<div class = 'col-md-3'>
							<label for = 'name'>Name</label> 
						</div>
						<div class = 'col-md-5'>
							<input type = 'text' class = 'form-control block' id = 'name' placeholder = 'name on card'>
						</div>
					</div>
					<div class = 'row'>
						<div class = 'col-md-3'>
							<label for = 'name'>Credit Card</label> 
						</div>
						<div class = 'col-md-5'>
							<input type = 'text' class = 'form-control block' id = 'cc_num' placeholder = 'Credit Card Number'>
						</div>
					</div>
						<div class = 'row'>
						<div class = 'col-md-1'></div>
						<div class = 'col-md-1'>
							<label for = 'name'>CVC</label> 
						</div>
						<div class = 'col-md-1'>
							<input type = 'text' class = 'form-control block' id = 'cc_cvc' placeholder = 'CVC number'>
						</div>
					
						<div class = 'col-md-2'>
							<label for = 'name'>expiration date</label> 
						</div>
						<div class = 'col-md-2'>
							<input type = 'text' class = 'form-control block' id = 'cc_exp' placeholder = 'mm/yy'>
						</div>
						<div class = 'col-md-2'>
							<button class = 'btn btn-default block' type = 'submit'> Finish and Pay</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
					





