
@white #FFFFFF;
@green #9EC038;
@orange #F48744;
@blue #189ECA;
@gray #777574;
@lightgray #ECECEC;
@black #1C1C1C;
@darkblue #106E80;
@darkgary #4AAAAA;
@red #016565;

body {
	padding-top: 80px;
	padding-bottom: 40px;
}

.jumbotron {
	text-align: center;
}

/* navbar */
.navbar-default {
    border-color: black;
}
/* title */
.navbar-default .navbar-brand {
    color: black;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: black;
}



.container {
	.footer {
		width: 25%;
	}
}


.form-signin input[type='text'],
.form-signin input [type = 'password'] {
	font-size: 15px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}