/*
	Turcoise = #34dddd
	dark turq = #23c6ec
	dark purple = #1d365d
	darker purple = #1a3053
	shadow purple = 551a8b / 85 26 139 
*/

.jumbotron {
	color: white;
	/*box-shadow: 10px 10px 30px -1px rgba(85,26,139,0.5);*/
	border: 1px solid #21608a;
	/*background: linear-gradient(#2ec6ec, #34dddd, #34dddd, #34dddd, #2ec6ec); */
	background-color: #EEE;
	color: #333;
	
}

	/*use jumbotron jumbotron-reverse to inherit from jumbotron */
.jumbotron-reverse {
	color: #34DDDD;
	border: 1px solid #34dddd;
	box-shadow: 10px 10px 30px -1px rgba(52,221,221,0.3);
	/*background: linear-gradient(#1a3053,  #1d365d, #1d365d,  #1d365d,  #1a3053);*/
	color: gray;
	background-color: blue;
	
}

th, td, tr {
	border-collapse: collapse;
	border-top: 2px solid #21608a;
}


/* Navbar Skins */

.navbar-default {
	background-color: #21608a;
	border-color: transparent;
	color: #white;
}

.navbar-default .navbar-brand{
	font-weight: bold;
	color: white;
	
}

.navbar-default .navbar-brand:hover {
	color: #21608a;
	background-color: white;
	font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
	color: white;

}

.navbar-default .navbar-nav > .active > a
{
	background-color: white;
	color: #21608a;
	font-weight: bold;
	
}

.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
	background-color: #21608a;
	color: white;
	font-weight: bold;
	
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: white;
    color: #21608a;
    
}



/* Button Skins */

.btn-default {
	color: #21608a;
	background-color: white;
	border-color: #21608a;
}

.btn-default:hover {
	background-color: #eee;
	border-color: #21608a;
	color: #21608a;
}

.btn-inverse {
	color: white;
	background-color: #21608a;
	border-color: #21608a;
	
}

.btn-inverse:hover {
	color: white;
	background-color: #376f95;
	border-color: #21608a;
}

/* panel skins */

.panel-default {
	background-color: #c2f4f4;
	color: #1d365d;
	border: 1px solid #1d365d;
	box-shadow: 10px 10px 30px -1px rgba(85,26,139,0.5);
}

.panel-default > .panel-heading {
	background-color: #99eeee;
	border-bottom: 1px solid #adf1f1;
}


/* form */
.form-light {
	background-color: #daf0f0;
	color: #551a8b;
	border-color: #1d365d;
}
.form-light:focus {
	border-color:#34dddd;

}

/* col */

.col-no-pad {

	padding: 0 0 0 0;
	padding-left: 0;
	padding-right: 0;
}



body {
	background-color: #ccc;
}