<section class = 'bal'>
	<div class = 'container'>
		<div class = 'jumbotron'>
			<h1> Balance: <%= balance.CurrencySymbol + ' ' + balance.Balance /100 + '.00' + ' ' + balance.CurrencyCode %></h1>
		</div>
	</div>
</section> 