<div class = 'section'>
	<h1> Recharge: Input Mobile Phone</h1>


	<h2> Carrier: <%= json.carrier_code %> Country: <%= json.country_code %> Amount: <%= '$ ' + json.amount / 100 + '.00' %></h2>
	<div class = 'row'>
	<h2>
		<div class = col-lg-3>
			<label for = 'phone_number'> Mobile Phone Number: </label>
		</div>
		<div class = col-lg-4>
			<input type = 'text' placeholder = '##########' name = 'phone_number' class = 'form-control' >
		</div>
		<div class = col-lg-2>
			<button class = 'btn btn-success'> Recharge
			</button>
		</div>

	</h2>
	</div>
</div> 



