<div class = "container">
    <div class = "jumbotron">
        <h1> E Commerce </h1>
        <h2> The App </h2>
        
        <div class = 'row'>
        	<a href = '/user/new' class ="btn btn-lg btn-inverse"> Sign up! </a>
        	<a href = '/session/new' class = 'btn btn-lg btn-inverse'>Sign in! </a>
        	<a href = '/guest/products' class = 'btn btn-lg btn-inverse'>Products! </a>

        </div>
    </div>
</div>
