<div class = "container">
    <div class = "jumbotron">
        <h1> E Commerce </h1>
        <h2> The App </h2>
        <a href = '/user/new' class ="btn btn-lg btn-success"> Sign up! </a>
    </div>
</div>
